@model IEnumerable<WEBFPTBOOK.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h3 style="text-align:center; color:red">BOOK BY PUBLISHERS</h3>

<div class="row">
    @foreach (var book in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <a href="@Url.Action("Details","FPTBook", new { id = book.BookID})">
                    <img alt="@book.BookName" src="~/product_imgs/@book.BookPic" />
                    <span>@book.BookName</span>
                </a>
            </div>
        </div>
    }
</div>
