
@{
    ViewBag.Title = "AgreeToOrder";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Your order has been placed, we will contact you later.Thank you</h2>
@Html.ActionLink("Back to home page","Index","FPTBook")

